<div class="  ">

  <!-- Header with toggle -->
  <div class="sidenav-header">
     <!-- <button mat-icon-button (click)="onToggle()"   class="toggle-btn" matTooltip="Toggle Sidebar">
      <i class="fas fa-bars"></i>
    </button> -->
    <span class="logo-bg "> 
    </span>
   
  
  </div>

  <!-- Navigation Links -->
  <mat-nav-list>
    <a mat-list-item routerLink="dashbord" routerLinkActive="active" matTooltip="Dashboard">
      <i class="pi pi-th-large  nav-icon"></i>
      <span class="label">Dashboard</span>
    </a>
    <a mat-list-item routerLink="feedback" routerLinkActive="active" matTooltip="Profile">
      <i class="fa-solid fa-comments nav-icon"></i>
      <span class="label">Feedback</span>
    </a>
    <a mat-list-item routerLink="details" routerLinkActive="active" matTooltip="Details">
      <i class="fas fa-info-circle nav-icon"></i>
      <span class="label">Details</span>
    </a>
    <a mat-list-item routerLink="menu" routerLinkActive="active" matTooltip="Menu">
      <i class="fa fa-cutlery nav-icon" aria-hidden="true"></i>  
      <span class="label">Menu</span>
    </a>
    <a mat-list-item routerLink="price" routerLinkActive="active" matTooltip="Price">
      <i class="far fa-money-bill-alt nav-icon"></i>
      <span class="label">Price</span>
    </a>
    <a mat-list-item routerLink="time" routerLinkActive="active" matTooltip="time">
      <i class="pi pi-clock nav-icon"></i>
      <span class="label">Time</span>
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="active" matTooltip="logout">
      <i class="fa fa-power-off  nav-icon" aria-hidden="true"></i>
      <span class="label">Log out</span>
    </a>
  </mat-nav-list>

</div>
